DB_NAME=example_db
DB_USER=example_user
DB_PASSWORD=1234
DB_HOST=127.0.0.1
DB_PORT=5432

EMAIL_HOST_USER = 'example@gmail.com'
EMAIL_HOST_PASSWORD = '' # app password from google app
DEFAULT_FROM_EMAIL = 'example@gmail.com'